input{
  color: #9E9E9E;
    background: none;
    border: 1px solid #ccc;
    width: calc(100% - 200px);
    border-radius: 5px;
    padding: 5px;
    height: 37px;
  font-size: 16px;
    &.button{
      width: 100px;
      height: 36px;
      padding-bottom: 36px;
      cursor: pointer;
    }
    
}
.textarea{
  height: 200px;
  vertical-align: text-top;
  color: #9E9E9E;
    background: none;
    border: 1px solid #ccc;
    width: calc(100% - 200px);
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
}