//markdown
.markdown{
  h1{
    color: #f1f2f3;
  }
  h3{
    color: #dff1f9;
  }
 h2,h4,h5,h6{
    color:#607D8B
    }
    pre{
      color: #171515;
      padding: 20px 20px 40px;
       background-origin: content-box;
       background-image: linear-gradient(rgb(184 184 179) 50%, #a5a2a2f7 0);
       display: inline-flex;
       background-size: auto 48px;
       font: 14px/24px Consolas, Monaco, monospace;
       width: 100%;
      code{
         display: inline-block;
    padding: 0;
    color: #34495e;
    background-color: transparent;
    font: inherit;
      }
    }
    p{
      color: #ccc;
        font-size: 18px;
    }
    ol,li{
      color:#c6856e
    }
    img{
      margin-bottom: 20px;
    
    }
}